language = "html"
modules = ["nodejs-20"]

[deployment]
deploymentTarget = "static"
publicDir = "HTML"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 19942
externalPort = 3000

[nix]
packages = ["zip"]
